.cardItems {
    width: 790px;
    margin: 80px auto;   
}

.title {
    color: #394B59;
    display: flex;
    gap: 16px;
}

.title::before {
    content: url('../../../../public/cart-icon-dark.svg');
}

.upperLayout {
    display: flex;
    display: flex;
    justify-content: space-around;
}

.btnStyle {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 6px;
    padding: 10px 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
}