.products {
    display: flex;
    gap: 50px;
}



.itemCards {
    gap: 33px;
    display: flex;
    flex-wrap: wrap;
}

.rightSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filtersLayout {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}