.products {
    /* display: inline-flex; */
    /* justify-content: space-around; */
}

.filtersList {
    background-color: green;
}

.itemCards {
    /* margin-left: 50px; */
    background-color: pink;
    gap: 33px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}