* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

a { 
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    line-height: 32px;
}

.searchbar {
    box-sizing: border-box;
    width: 412px;
    height: 40px;
    border: 1px solid #D8E1E8;
    border-radius: 8px;
    background-image: url('/search.svg');
    background-repeat: no-repeat;
    background-position: 16px;
    padding-left: 48px;
    margin-right: 32px;
}

.mailbar {
    box-sizing: border-box;
    width: 412px;
    height: 40px;
    border: 1px solid #D8E1E8;
    border-radius: 8px;
    background-image: url('/search.svg');
    background-repeat: no-repeat;
    background-position: 16px;
    padding-left: 48px;
    margin-right: 32px;
}

.footerListTitle {
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 11px;
}

.footerListElements {
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: #8A9BA8;
    font-size: 14px;
    line-height: 16px;
}

.megaMenuListTitle {
    color: #394B59;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 11px;
}

.megaMenuListElements {
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: #30404D;
    font-size: 14px;
    line-height: 16px;
}

/* Title styles */

h1 {
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #30404d;
    margin-bottom: 20px;
}

h5 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

h6 {
  font-size: 16px;
}

/* Buttons styles */
.btnLarge {
    padding: 12px 23px;
    font-size: 16px;
  }
  
  .btnRegular {
    padding: 12px 16px;
    font-size: 16px;
  }
  
  .btnDark {
    background-color: #30404d;
  }
  
  .btnLight {
    background-color: #e5eaee;
  }

  .btnWhite {
    background-color: white;
  }
  
  .btnTransparent {
    background-color: transparent;
  }

  .btnRadius {
    border-radius: 6px;
  }

  .btnRemoveBorder {
    border-style: none;
  }

  .btnLink {
    font-size: 20px;
    padding: 0;
  }

  /* Text colors */
  
  .textBlack {
    color: #30404d;
  }
  .textWhite {
    color: #fff;
  }
  .textGrey {
    color: #8A9BA8;
  }
  
 .gridHalf {
    display: flex;
    justify-content: space-around;
    gap: 26px;
 }

 /* Text font */

 .boldText {
  font-weight: 600;
 }

 /* Basket */
.basketDark {
  background-color: #758796;
}

.basketLight {
  background-color: #EBF1F5;
}

/* display options */

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

/* text align options */

.textCenter {
  text-align: center;
}

/* Product-listing options */

.option {
  background-color: #F5F8FA;
  border: 1px solid #A7B6C2;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
}

/* product-details swipper */
#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide .swiper-slide-next div {
  width: 200px !important;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  /* width: 50px;
  height: 50px; */
  object-fit: cover;
}

.swiper-slide button img {
  width: 15px;
  height: 15px;
}

.swipper-item-card {
  padding: 5px !important;
  border: none !important;
}

/* HERO HEADER */

.heroBgPoz {
    background-position: 90% 50px;
  }
  
  .goBack {
      color: #8A9BA8;
      display: flex;
      gap: 6px;
      position: relative;
      top: 32px;
      left: 34px;
  }
  .goBack::before {
      content: url('../../public/leftarrow-dark.svg');
  }

  /* homepage swipper*/

  /* swiper for homepage */

.home_slider .swiper {
  margin-bottom: 75px;
  overflow-y: visible !important;

  overflow: visible !important;
}

.home_slider .swiper-slide {
  width: auto !important;
}

.home_slider .swiper-button-next::after,
.home_slider .swiper-button-prev::after {
  display: none;
}

.home_slider .swiper-button-next {
  background-color: #8a9ba8;
  background-image: url("/next-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  right: 0 !important;
  bottom: -73px;
}

.home_slider .swiper-button-next::before {
  content: "Next";
  display: inline-block;
  padding: 12px 42px 12px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.home_slider .swiper-button-prev {
  background-color: #8a9ba8;
  background-image: url("/prev-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  width: auto !important;
  border-radius: 32px;
  top: auto !important;
  left: 0 !important;
  bottom: -73px;
}
.home_slider .swiper-button-prev::before {
  content: "Previous";
  display: inline-block;
  padding: 12px 16px 12px 42px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
/*  END swiper for homepage */

.btn_closed {
  background-image: url("/up-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
}
.btn_open {
  background-image: url("/down-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
}