.preheader {
    background-color: #394B59;
}

.help {
    box-sizing: border-box;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    /* justify-content: flex-start; */
}

.preheader__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}