* {
 margin: 0;
 padding: 0;
 text-decoration: none;
 font-family: 'Roboto Flex', sans-serif;
 
}

a {
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #faf4f0;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .main-container {
        flex-direction: row;
        background-image: url('../images/mesh-gradient-m.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 100%; */
        background-position: center right -200px;
        /* background-position: 50% 75% 50% 50%; */
    }
}

.gradient {
    background-image: url('/Luni-29.05.2023/assignment/images/mesh-gradient-5.png');
    background-repeat: no-repeat;
    width: 80%;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .gradient {
        display: none;
        /* visibility: hidden; */
    }
}

/* STATUS BAR */

/* [alt='status_bar'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

[alt='logo'] {
    display: none;
}

@media screen and (min-width: 768px) {
    [alt='status_bar'] {
        display: none;
    }

    [alt='logo'] {
        display:block;
        position: absolute;
        top: 60px;
        /* width: 80%; */
        /* height: 200px; */
    }
}

[alt='back_button'] {
   position: absolute;
   top: 60px;
   left: 15px;
}

@media screen and (min-width: 768px) {
    [alt='back_button'] {
        display: none;
    }
}

/* TITLE */

.title {
    margin-top: -45px;
    margin-bottom: calc(334px - 202px);
}

@media screen and (min-width: 768px) {
    .title {
        margin-top: 180px;
    }
}

h1 {
    font-weight: 800;
    line-height: 56px;
    font-size: 3em;
}

p {
    color: #5F646D;
}


/* FORM */

.form-side {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .form-side {
        width: 50%;
        height: 100%;
    }
}

.wrapper {
    padding: 0 24px;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        margin-left: 149px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
   form {
        max-width: 437px;
   }
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    line-height: 16px;
}

input {
   box-sizing: border-box;
}

#email {
    background-image: url('../images/mail_icon.png');
    background-repeat: no-repeat;
    background-position: center right 34px;
}

#email::placeholder, #password::placeholder {
    padding-left: 20px;
}

#password {
    background-image: url('../images/password_icon.png');
    background-repeat: no-repeat;
    background-position: center right 34px;
}

input:not([type='checkbox']), button {
    height: 50px;
    display: block;
}

[type='submit'] {
    background-color: #ae7aff;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px black;
    font-weight: 700;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
}

/* SEPARATOR */
.separator {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

hr {
    border-style: solid none none none;
    color: black;
    border-width: 1px;
    width: 40%;
    transform: translate(0,50%);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    margin-right: 5px;
}

/* you don't have an account */

div > p {
    display: none;
}

@media screen and (min-width: 768px) {
    div > p {
        display: block;
        margin-top: 89px;
        /* font-size: 3rem; */
        line-height: 21px;
        margin-bottom: 53px;
    }
}

/************ INFO-SIDE ************/

.info-side {
    display: none;
    width: 50%;
    height: 100%;
}

@media screen and (min-width:768px) {
    .info-side {
      display: block;
      background-image: url('../images/Mockup.svg');
      background-repeat: no-repeat;
      background-position: center right -570px;
      background-size: 820px;
    }
}

@media screen and (min-width: 1440px) {
    .info-side {
        background-size: cover;
        background-position: center right -500px;
    }
}

[alt='task'] {
    position: absolute;
    top: 56px;
    left: 60%;
}

[alt='person'] {
    position: absolute;
    top: 200px;
    left: 70%;
}

[alt='money'] {
    position: absolute;
    top: 550px;
    left: 55%;
}

@media screen and (min-width:1440px) {
    [alt='money'] {
        left: 60%;
    }
}

[alt='assign-task'] {
    position: absolute;
    top: 700px;
    left: 69%;
}

@media screen and (min-width:1440px) {
    [alt='assign-task'] {
        top: 750px;
        left: 69%;
    }
}

[alt='mockup'] {
    position: absolute;
    top: 750px;
    left: 75%;
}

@media screen and (min-width:1440px) {
    [alt='mockup'] {
        position: absolute;
        top: 850px;
    }
    
}

/* ######### CONTACTS ############# 


*/

.layout {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .layout {
        flex-direction: row;
    }   
}

/* SEARCH SECTION */

.search-section {
    /* background-color: green; */
    padding-top: 42px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    section img {
        display: none;
    }
}

h4 {
    font-size: 24px;
    font-weight: 800;
    align-self: center;
}

h4:nth-child(2) {
    display: none;
}
@media screen and (min-width: 768px) {
    h4:nth-child(2) {
        display: block;
    }

    h4:first-child {
        display: none;
    }
}
/*CONTACTS - WRAPPER */

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .contacts-wrapper {
        width: 80%;
        height: 100%;
        justify-content: flex-start;
    }
    
}

ul {
    /* background-color: red; */
    list-style-type: none;
    /* margin-top: 86px; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 0;
}
 
.active{
    /* color: white; */
    background-color: black;
} 

.active a {
    color: white;
}

li {
    font-size: 12px;
    font-weight: 700;
    width: 33.3%;
    padding: 11px;
    /* background-color: green; */
    text-align: center;  
}

table {
    background-color: white;
    margin-bottom: 50px;
}

span {
    font-size: 14px;
    font-weight: 700;
}

table, tr {
    border: 2px solid;
    border-collapse: collapse;
}

td:last-child {
  text-align: center;
}

td img {
    margin-right: 2px;
}

footer {
    /* background-color: firebrick; */
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    
}
@media screen and (min-width: 768px) {
    footer {
        display: none;
    }
}


footer img {
    align-self: center;
}

/* TABLET COMPONENTS */

aside {
    display: none;
}
@media screen and (min-width: 768px) {
    aside {
        display: block;
        width:20%;
        height:100%;
        background-color: black;
    }
}

.options {
    display: none;
}
@media screen and (min-width: 768px) {
    .options {
        /* background-color: red; */
        /* display: block; */
        display: flex;
    }
    
    div img {
        display: inline;
    }
}