* {
 margin: 0;
 padding: 0;
 text-decoration: none;
 font-family: 'Roboto Flex', sans-serif;
 
}

a {
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #faf4f0;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .main-container {
        flex-direction: row;
        background-image: url('../images/mesh-gradient-m.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 200%;
        /* background-position: 50% 75% 50% 50%; */
    }
}

.gradient {
    background-image: url('/Luni-29.05.2023/assignment/images/mesh-gradient-5.png');
    background-repeat: no-repeat;
    width: 80%;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .gradient {
        display: none;
        /* visibility: hidden; */
    }
}

/* STATUS BAR */

[alt='status_bar'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
}

[alt='logo'] {
    display: none;
}

@media screen and (min-width: 768px) {
    [alt='status_bar'] {
        display: none;
    }

    [alt='logo'] {
        display:block;
        position: absolute;
        top: 60px;
        /* width: 80%; */
        /* height: 200px; */
    }
}

[alt='back_button'] {
   position: absolute;
   top: 60px;
   left: 15px;
}

@media screen and (min-width: 768px) {
    [alt='back_button'] {
        display: none;
    }
}

/* TITLE */
.title {
    margin-top: -45px;
    margin-bottom: calc(334px - 202px);
}

@media screen and (min-width: 768px) {
    .title {
        margin-top: 180px;
    }
}

h1 {
    font-weight: 800;
    line-height: 56px;
    font-size: 3em;
}

p {
    color: #5F646D;
}


/* FORM */

.form-side {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .form-side {
        width: 50%;
        height: 100%;
    }
}

.wrapper {
    padding: 0 24px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
    /* max-width: 272px; */
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    line-height: 16px;
}

input {
   box-sizing: border-box;
}

#email {
    background-image: url('../images/mail_icon.png');
    background-repeat: no-repeat;
    background-position: center right 34px;
}

#email::placeholder, #password::placeholder {
    padding-left: 20px;
}

#password {
    background-image: url('../images/password_icon.png');
    background-repeat: no-repeat;
    background-position: center right 34px;
}

input:not([type='checkbox']), button {
    height: 50px;
    display: block;
}

[type='submit'] {
    background-color: #ae7aff;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px black;
    font-weight: 700;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
}

/* SEPARATOR */
.separator {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

hr {
    border-style: solid none none none;
    color: black;
    border-width: 1px;
    width: 40%;
    transform: translate(0,50%);
}

button {
    background-color: inherit;
    background-image: url(../images/qr_icon.png);
    background-repeat: no-repeat;
    background-position: center left ;
}

/* you don't have an account */

div > p {
    display: none;
}

@media screen and (min-width: 768px) {
    div > p {
        display: block;
        margin-top: 89px;
        /* font-size: 3rem; */
        line-height: 21px;
    }
}

/************ INFO-SIDE ************/

