.heroBgPoz {
    background-position: 90% 50px;
}

.goBack {
    color: #8A9BA8;
    display: flex;
    gap: 6px;
    position: relative;
    top: 32px;
    left: 34px;
}
.goBack::before {
    content: url('../../../public/leftarrow-dark.svg');
}