.backButton {
    color: #5C7080;
    background-color: #F5F8FA;
    border-radius: 100px;
    width: fit-content;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
}

.backButton::before {
    content: url('../../../../public/fullarrow-left-dark.svg');
    position: relative;
    top: 3px;
    margin-right: 4px;
}